 body {
     background-image: url("../pics/spice_world.JPG");
     width: 100%;
     height: 100%;
     background-size: cover;
     display: flex; flex-direction: column; /*for the flex container*/
     height: 100vh;  /*flex container*/
 }

.subtitle {
    text-align: center;
}
.container {
    margin-top: 40px;
}

p {
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    color:green;
    font-style: italic;
}

footer.flex {
    flex-shrink: 0;
}